

<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

	<!-- wrapper -->
	<div id="wrapper">

		<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
		<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

			<!-- TOP NAV -->
			<header id="topNav">
				<div class="container">

					<!-- Mobile Menu Button -->
					<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>

					<!-- Logo -->
					<a class="logo float-left" href="index#top">
						<%= image_tag("R2.png", :alt => "Rocket Elevator logo") %>
					</a>

					<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
					<div class="navbar-collapse collapse float-right nav-main-collapse">
						<nav class="nav-main">

							<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
							<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
								<li>
									<!-- HOME -->
									<a href="index#home">
										HOME
									</a>
								</li>
								<li class="active">
									<!-- SERVICES -->
									<a href="index.html#services" class="dropdown-toggle">
										SERVICES
									</a>
									<ul class="dropdown-menu sub-menu">
										<li><a href="residential">Residential</a></li>
										<li><a href="corporate">Corporate</a></li>
										<li class="active"><a href="quote">Get a Quote</a></li>
									</ul>
								</li>
								<li>
									<!-- WORK -->
									<a href="index.html#portfolio">
										PORTFOLIO
									</a>
								</li>
								<li>
									<!-- NEWS -->
									<a href="index.html#news">
										NEWS
									</a>
								</li>
								<li>
									<!-- CLIENTS -->
									<a href="index.html#clients">
										CLIENTS
									</a>
								</li>
								<li>
									<!-- CONTACT -->
									<a href="index.html#contact">
										CONTACT
									</a>
								</li>
								<li>
								<% if current_user.try(:admin?) || !Customer.find_by(user_id:current_user.try(:id)).nil?|| !Employee.find_by(user_id:current_user.try(:id)).nil? %>
										<%= link_to 'Dashboard', rails_admin.dashboard_path %>
									<% end %>
									</li>
									<li>
									<% if current_user %>
										<%= link_to "Sign out", destroy_user_session_path, :method => :get %>
									<% else %>
										<%= link_to 'Login', new_user_session_path %>
									<% end %>
								</li>
							</ul>

						</nav>
					</div>

				</div>
			</header>
			<!-- /Top Nav -->

		</div>


		<section class="container">
			<div class="row ">
				<div class="col-sm d-flex justify-content-center align-items-center">
					<h1>Resquest your quote</h1>
				</div>
			</div>
			<div class="row">
				<%= form_tag pages_path, :class=> 'col-center' do %>
					<div>
						<div class="form-row">
							<div class="col-sm">
								<label for="typeElevator">Your building type</label>
								<select class="form-control" id="typeElevator" name="building">
									<option value="select">Select</option>
									<option value="residential">Residential</option>
									<option value="commercial">Commercial</option>
									<option value="corporate">Corporate</option>
									<option value="hybride">Hybrid</option>
								</select>
							</div>
						</div>
					</div>
					<div>
						<div class="form-row show-quote">
							<div class="col-sm-6">
								<label for="companyName">Company Name</label>
								<input type="text" class="form-control" id="companyName" name="companyName">
							</div>
							<div class="col-sm-6">
								<label for="email">email</label>
								<input type="email" class="form-control" id="email" name="email">
							</div>
						</div>
						<div class="form-row show-quote">
							<div class="col-sm-6">
								<label for="floor">Number of floors</label>
								<input type="number" class="form-control" id="floor" name="floor">
							</div>
							<div class="col-sm-6">
								<label for="basement">Number of basements</label>
								<input type="number" class="form-control" id="basement" name="basement">
							</div>
						</div>
					</div>

					<div class="quote residential">
						<div class="form-row">
							<div class="col-sm-6">
								<label for="apartment_residential">Number of apartments</label>
								<input type="number" class="form-control" id="apartment_residential" name="apartment">
							</div>
						</div>
					</div>
					<div class="quote commercial">
						<div class="form-row">
							<div class="col-sm-6">
								<label for="commerce">Number of business</label>
								<input type="number" class="form-control" id="commerce" name="commerce">
							</div>

							<div class="col-sm-6">
								<label for="shafts_commerce">Number of elevator shafts</label>
								<input type="number" class="form-control" id="shafts_commerce" name="shafts">
							</div>
						</div>
					</div>
					<div class="quote corporate">
						<div class="form-row">
							<div class="col-sm-6">
								<label for="companie">Number of tenant companies</label>
								<input type="number" class="form-control" id="companie" name="companie">
							</div>
							<div class="col-sm-6">
								<label for="occupant">Maximum number of occupants</label>
								<input type="number" class="form-control" id="occupant" name="occupant">
							</div>
						</div>
					</div>
					<div class="quote hybride">
						<div class="form-row">
							<div class="col-sm-4">
								<label for="commerce">Number of business</label>
								<input type="number" class="form-control" id="commerce" name="commerce">
							</div>
							<div class="col-sm-4">
								<label for="occupant">Maximum number of occupants</label>
								<input type="number" class="form-control" id="occupant" name="occupant">
							</div>
							<div class="col-sm-4">
								<label for="time">Open Time</label>
								<select class="form-control" id="time" name="time">
								</select>
							</div>
						</div>
					</div>

					<div class="quote hybride corporate commercial">
						<div class="form-row">

							<div class="col-sm-6">
								<label for="parking">Number of parking</label>
								<input type="number" class="form-control" id="parking" name="parking">
							</div>
						</div>

					</div>

					<div class="space">
						<div class="col-sm-6">
							<label for="gamme">Select your line</label>
							<div id="gamme">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="gamme1" value="standard"
										name="gamme" checked>
									<label class="form-check-label" for="gamme1">Standard</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="gamme2" value="premium"
										name="gamme">
									<label class="form-check-label" for="gamme2">Premium</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="gamme3" value="excelium"
										name="gamme">
									<label class="form-check-label" for="gamme3">Excelium</label>
								</div>
							</div>
						</div>
					</div>
					<div class="result">
						<div class="row">
							<div class=" col-center d-flex justify-content-center">
								<table class="table table-responsive">
									<thead>
										<tr>
											<th colspan="2">Summary</th>
										</tr>

									</thead>
									<tbody>
										<tr>
											<td>Type of line</td>
											<td id="summary_type"></td>
										</tr>
										<tr>
											<td>Nomber of shafts</td>
											<td id="summary_shaft"></td>
										</tr>
										<tr>
											<td>Elevator Cost</td>
											<td id="summary_ECost"></td>
										</tr>
										<tr>
											<td>Installation Cost</td>
											<td id="summary_ICost"></td>
										</tr>
										<tr>
											<td>Final Cost</td>
											<td id="summary_FCost"></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
					<%= submit_tag "Submit"%>
				<% end%>

			</div>


		</section>

		<!-- FOOTER -->
		<footer id="footer">
			<div class="container">


				<div class="row">

					<!-- col #1 -->
					<div class="col-md-8">

						<h3 class="letter-spacing-1">WHY US?</h3>

						<!-- Small Description -->
						<p>
							Rocket Elevator is a Company in the elevator industry. We work to improve all elevators with our repair and engineer team. We have our own manufacturing plant to create quick elevator.
							</p>
						<h2>(581) 701-0303</h2>
					</div>
					<!-- /col #1 -->

					<!-- col #2 -->
					<div class="col-md-4">
						<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

						<!-- Newsletter Form -->
						<p>Subscribe to Our Newsletter to get Important News & Offers</p>

						<form class="validate" action="php/newsletter.php" method="post"
							data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
								<input type="email" id="email" name="email" class="form-control required"
									placeholder="Enter your Email">
								<span class="input-group-btn">
									<button class="btn blue" type="submit">Subscribe</button>
								</span>
							</div>
						</form>
						<!-- /Newsletter Form -->


					</div>
					<!-- /col #2 -->

				</div>


			</div>
			<div class="copyright">
				<div class="container">
					&copy; All Rights Reserved, Rocket Elevator
				</div>
			</div>
		</footer>
		<!-- /FOOTER -->


	</div>
	<!-- /wrapper -->


		<%= javascript_include_tag 'quote', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'contact', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'smoothscroll', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'scripts', media: 'all', 'data-turbolinks-track': 'reload' %>


